@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  flex: 1;
  display: grid;
}
