.container {
  background-color: rgb(25, 71, 229);
  border-radius: 0px 0px 20px 20px;
}

.header {
  margin: auto;
  max-width: 800px;
  color: white;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 2.5rem 0rem;
}

#avatar-img {
  width: 150px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials img {
  width: 30px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  padding-bottom: 5px;
}

.socials a {
  display: flex;
}

.socials img:hover {
  border-bottom: 2px solid rgb(255, 116, 0);
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 3rem;
}
